
#image{
    position: relative;
}

#size-group{
    position: absolute;
    top: 190px;
    background-color: blue;
    color: azure;
    left: 260px;
}

div.stats{
    background: blue;
    color: white;
    border-radius: 4%;
    width: 200px;
    height: 70px;
    margin: 10px;
    padding: 10px;
}

p.money{
    color: red;
}