{% extends  "layout.html"  %}
 {% block title %}Défis{% endblock %}
 {% block body %}
 
 <p class="titre">Réalisez des défis afin de réduire davantage votre impact sur l'environnement</p>

 <div class="card titre" style="width: 18rem; margin-left: auto; margin-right: auto;">
    <div class="card-header">
        La semaine des Vikings
      </div>
     <img src="app/assets/img/viking.png" class="card-img-top">
     <div class="card-body">
       <p class="card-text">Surmontez un froid digne des plaines du Nord pour faire du bien à votre corps et l'environnement</p>
       <a href="?page=viking" class="btn btn-primary">Voir le défi</a>
      </div>
      <div class="card-footer text-muted">
        Difficulté: Intermédiaire 
      </div>
     </div>
   </div>




 {% endblock %}
