{% extends ['layout.html'] %}
 {% block title %}Inscription{% endblock %}
 {% block body %}
 

<center>
  <fb:login-button 
 scope="public_profile,email,user_friends"
 onlogin="checkLoginState();">
</fb:login-button>


<form action="?page=signup&action=connection" method="post">
  <input type="hidden" name="token" id="token">
  <input type="hidden" name="name"  id="name">
  <input type="hidden" name="mail" id="mail">
  <p id="status"></p>
  <button type="submit">Oui</button>
</form>
<button onclick="logout();">Non</button>
</center>
 
<!--

 <form>
    <div class="form-group">
      <label for="mail">Email address</label>
      <input type="email" class="form-control" id="mail" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


<div>
    <form action="?page=signup&action=singup" method="post">
    <p>Inscription</p>
    <input type="email" name="email" id="email" placeholder="Entrez votre email">
    <input type="email2" name="email2" id="email2" placeholder="Comfirmer votre email">
    <br>
    <label for="cat">Entrez votre mot de passe 8 caractères minimum</label>
    <input type="password" name="cat" id="cat" placeholder="Entrez votre mot de passe">
    <br>
    <label for="cat2">Confirmez votre mot de passe</label>
    <input type="password" name="cat2" id="cat" placeholder="Confirmez votre mot de passe">

    <br>
    <label for="upic">Choisissez une photo de profil</label>
    <input type="file" name="upic" id="">
    <br>
    <label for="birth">Votre date de naissance</label>
    <input type="date" name="birth" id="" placeholder="Votre date de naissance">
    <label for="adress">Entre votre adressee </label>
    <input type="text" name="adress" placeholder="Entre votre adresse">
    <button type="submit">S'inscrire</button>
</form>
</div>

-->






 {% endblock %}