{% extends  "layout.html"  %}
 {% block title %}Viking{% endblock %}
 {% block body %}
 
 <h1 class="titre">La semaine des Vikings</h1>
 <h3 class="titre">Difficulté: Intermédiaire</h3>
    <div>
        <img src="app/assets/img/viking.png" class="card-img-top">
     
   </div>
  <p class="titre">Objectif: Se doucher à l'eau froide pendant une semaine.</p>
  <p class="titre">Bienfaits: Économie d'eau chaude, une meilleure circulation sanguine, tonification des muscles, amélioration du système respiratoire, stimule l'immunité...</p>
  <p class="titre">Conseil: Ne mettez pas directement à la température la plus froide, baissez progressivement celle-ci.</p>


 {% endblock %}
